.navbar-content {
  display: flex;
  align-items: center;

  mat-toolbar {
    height: 6rem;
    background-color: #ffffff;
  }

  &__logo {
    flex: 0 0 13%;

    span {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__menus {
    display: flex;
    align-items: center;
    flex: 0 0 63%;
    justify-content: space-between;

    &__search {
    }

    &__menu {
      button {
        font-size: 18px;
      }
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    flex: 0 0 17%;
    margin-left: 3rem;
    align-items: center;

    &__option {
      button {
        width: 4rem;
        height: 4rem;

        mat-icon {
          font-size: 2rem;
          height: 2rem;
          width: 2rem;
        }
      }
    }

    &__start {
      button {
        width: 8rem;
        height: 3rem;
        font-size: 20px;
        border-radius: 50px;
      }
    }
  }
}

.active {
  border-bottom: 2px solid var(--primary);

  button {
    color: var(--primary);
  }
}

.mat-mdc-form-field-infix {
  min-height: 1px;
  max-height: 10px;
}
