.navbar-content {
  display: flex;
  align-items: center;

  mat-toolbar {
    height: 6rem;
  }

  &__logo {
    flex: 0 0 15%;
    span {
      font-size: 20px;
    }
  }

  &__menus {
    display: flex;
    align-items: center;
    flex: 0 0 63%;
    justify-content: space-between;

    &__search {
      mat-form-field {
        border-radius: 15px;
      }
    }

    &__menu {
      button {
        font-size: 20px;
      }
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    flex: 0 0 17%;
    margin-left: 3rem;
    align-items: center;

    &__option {
      button {
        width: 4rem;
        height: 4rem;
        mat-icon {
          font-size: 2rem;
          height: 2rem;
          width: 2rem;
        }
      }
    }

    &__start {
      button {
        width: 8rem;
        height: 4rem;
        font-size: 20px;
      }
    }
  }
}
