<div class="navbar-content">
  <mat-toolbar>
    <div class="navbar-content__logo">
      <span>Market Track</span>
    </div>
    <div class="navbar-content__menus">
      <div class="navbar-content__menus__search">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" >
          <mat-label>Pesquisa</mat-label>
          <input matInput type="search">
        </mat-form-field>
      </div>
      <div class="navbar-content__menus__menu" [class.active]="page() === 'market'">
        <button mat-button (click)="navigateByUrl('market')">Mercado</button>
      </div>
      <div class="navbar-content__menus__menu">
        <button mat-button>Notícias</button>
      </div>
      <div class="navbar-content__menus__menu">
        <button mat-button>Corretoras</button>
      </div>
      <div class="navbar-content__menus__menu">
        <button mat-button>Produtos</button>
      </div>
      <div class="navbar-content__menus__menu">
        <button mat-button>Comunidade</button>
      </div>
    </div>
    <div class="navbar-content__options">
      <div class="navbar-content__options__option">
        <button mat-button>
          <mat-icon>language</mat-icon>
        </button>
      </div>
      <div class="navbar-content__options__option">
        <button mat-button>
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div class="navbar-content__options__start">
        <button mat-raised-button color="primary">Investir</button>
      </div>
    </div>
  </mat-toolbar>
</div>
