.options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  height: 5rem;

  &__option {
    width: 20%;
    cursor: pointer;
    height: 4rem;
    border-radius: 1rem;
    flex: 0 0 auto;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;

    .option-content {
      display: flex;
      flex-direction: column;

      &__title {

      }

      &__last-quote {
        margin-right: 1rem;

      }

      &__percent {

      }
    }

    &__logo {
      flex: 0 0 20%;
      padding: 1rem;
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        border-radius: 50%;
      }
    }
  }
}

.options__option:hover {
  background-color: #eae6e5;
}
