<div class="principal-chart">
  <div class="principal-chart__title">
    <h2>
      {{ title() }}
    </h2>
  </div>

  <div class="principal-chart__options">
    <div class="principal-chart__options__option">

    </div>
    <div class="principal-chart__options__option">

    </div>
    <div class="principal-chart__options__option">

    </div>
    <div class="principal-chart__options__option">

    </div>
    <div class="principal-chart__options__option">

    </div>
    <div class="principal-chart__options__option">

    </div>
  </div>

  <div class="principal-chart__chart">
    <canvasjs-chart [options]="chartOptions()"></canvasjs-chart>
  </div>
</div>
