<div class="principal-chart">
  <div class="principal-chart__title">
    <h2>
      {{ title() }}
    </h2>
  </div>

  <div class="principal-chart__options">
    @for (value of values(); track value.symbol) {
    <div class="principal-chart__options__option">
      <app-options [item]="value" (click)="this.getCompleteHistoric(value.symbol)" [activeItem]="activeSymbol"></app-options>
    </div>
    }
  </div>

  <div class="mt-5">
    <div class="d-flex justify-content-center w-100 position-absolute z-3">
      <mat-spinner *ngIf="loading" />
    </div>
    <div id="chartContainer"></div>
  </div>
</div>
