.principal-chart {
  margin: 3rem;

  &__title {
    span {
      font-size: 20px;
    }
  }

  &__options {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    height: 5rem;

    &__option {
      width: 20%;
      height: 4rem;
      border-radius: 1rem;
      flex: 0 0 auto;
      margin: 0 10px;
    }
  }
}

.principal-chart__options::-webkit-scrollbar {
  height: 5px;
}

.principal-chart__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.principal-chart__options::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}
