.principal-chart {
  margin: 3rem;

  &__title {
    span {
      font-size: 20px;
    }
  }
}

.principal-chart__options::-webkit-scrollbar {
  height: 5px;
}

.principal-chart__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.principal-chart__options::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}
