@import "assets/colors/color-vairables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.negative {
  color: #f23645;
}

.positive {
  color: #089981;
}
